[submodule "plugins/CoffeeTags"]
	path = plugins/CoffeeTags
	url = git@github.com:lukaszkorecki/CoffeeTags.git
[submodule "plugins/ack.vim"]
	path = plugins/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "plugins/vim-autoformat"]
	path = plugins/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule "plugins/vim-json"]
	path = plugins/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "plugins/vim-jsx"]
	path = plugins/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "plugins/vim-trailing-whitespace"]
	path = plugins/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "plugins/YouCompleteMe"]
	path = plugins/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "plugins/nerdcommenter"]
	path = plugins/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar
